#realisations {}

#realisations .projects-container .projectsWrapper {}

#realisations .projects-container .projects {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

#realisations .projects-container .filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #realisations .projects-container .filter .custom-select {
    display: none;
} */

#realisations .projects-container .filter .filter-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

#realisations .projects-container .filter .filter-btn button {
    width: 16rem;
    box-shadow: var(--btn-shadow);
}

#realisations .projects-container .filter .filter-btn button:hover {
    border: none;
}

#realisations .projects-container .filter .select select {
    appearance: unset;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: var(--clr-grey-3);
    width: 30rem;
    color: white;
    font-weight: 600;
    text-align: center;

    display: none;
}

#realisations .projects-container .filter .select select:focus {
    outline: none;
}

#realisations .projects-container .filter .select select option {
    font-weight: 600;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;

}

#realisations .projects-container .filter .select select option:hover {
    background: var(--clr-primary-3);
}

#realisations .projects-container .filter .select .reset {
    display: none;
    align-items: center;
    font-size: 2.5rem;
    padding: 6px 20px;
    color: white;
    background: red;
    border-radius: 5px;
    cursor: pointer;
}

#realisations .projects-container .infoFiltre {
    margin-top: 2rem;
    margin-right: 2rem;

    position: relative;

    display: none;




}

#realisations .projects-container .infoFiltre p {

    display: inline-flex;
    justify-content: space-between;
    gap: .7rem;

    padding: 1rem 2.5rem;
    background: var(--clr-primary-3);

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

#realisations .projects-container .infoFiltre .choisis {
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
    color: white;

}

#realisations .projects-container .infoFiltre .retirerFiltre {
    display: inline-block;
    color: white;
    font-size: 1.3rem;

    position: absolute;
    top: .3rem;
    right: .3rem;

}


#realisations .projects-container .projects {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 2.5rem;
    /* padding-top: 1rem; */
}

@media screen and (min-width:909px) and (max-width:991px) {
    #realisations .projects-container .projects {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }


    #realisations .projects-container .filter .filter-btn {
        display: none;
    }

    #realisations .projects-container .filter .select {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    #realisations .projects-container .filter .select .reset {
        display: flex;
    }


    #realisations .projects-container .filter .select select {
        display: block;
    }

    #realisations .projects-container .infoFiltre {
        display: flex;
        gap: 2rem;
    }

    #realisations .projects-container .projectsWrapper {
        /* position:relative; */
        display: flex;
        overflow-x: visible;
        scrollbar-width: 1rem;
        overflow-y: hidden;
    }
}

@media screen and (min-width:426px) and (max-width:908px) {
    #realisations .projects-container .projects {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    #realisations .projects-container .filter .filter-btn {
        display: none;
    }

    #realisations .projects-container .filter .select {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    #realisations .projects-container .filter .select select {
        display: block;
    }

    #realisations .projects-container .filter .select .reset {
        display: flex;
    }

    #realisations .projects-container .infoFiltre {
        display: flex;
        gap: 2rem;
    }


    #realisations .projects-container .projectsWrapper {
        /* position:relative; */
        display: flex;
        /* overflow-x: scroll; */
        overflow-y: hidden;
        padding-top: 4rem;

    }
}



@media screen and (max-width:425px) {
    #realisations .projects-container .projects {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    #realisations .projects-container .filter .filter-btn {
        display: none;
    }

    #realisations .projects-container .filter .select {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    #realisations .projects-container .filter .select select {
        display: block;
    }

    #realisations .projects-container .filter .select .reset {
        display: flex;
    }

    #realisations .projects-container .infoFiltre {
        display: flex;
        gap: 2rem;
    }


    #realisations .projects-container .projectsWrapper {
        /* position:relative; */
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-top: 4rem;

    }
}