#realisations {}

#realisations .projects-container {}

#realisations .projects-container .projects {
    display: flex;
    justify-content: center;
}

#realisations .projects-container .filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#realisations .projects-container .filter .custom-select {
    display: none;
}



#realisations .projects-container .filter .filter-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

#realisations .projects-container .filter .filter-btn button {
    width: 14.5rem;
    box-shadow: var(--btn-shadow);
}

#realisations .projects-container .filter .filter-btn button:hover {
    border: none;
}

#realisations .projects-container .projects {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 2.5rem;
    padding-top: 6rem;
}

@media screen and (max-width:1239px) {
    #realisations .projects-container .projects {
        display: flex;
        justify-content: center;
    }

    #realisations .projects-container .filter .filter-btn {
        display: none;
    }

    #realisations .projects-container .filter .custom-select {
        display: block;
    }

    #realisations .projects-container .filter {
        justify-content: center;
    }
}

/* @media screen and (max-width:768px) {
    #realisations .projects-container .projects {
        display: flex;
        justify-content: center;
    }

    #realisations .projects-container .filter .filter-btn {

        display: none;

    }

    #realisations .projects-container .filter .custom-select {
        display: block;
    }

    #realisations .projects-container .filter {
        justify-content: center;
    }
} */