#header {
    background-image: linear-gradient(to bottom, #000000, #007FFF);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#header .header-container {
    padding: 20rem 0;
    position: relative;
    color: #fefefefe;
    text-align: center;
}

@media screen and (max-width: 425px) {
    #header .header-container {
        padding: 24rem 0;
    }
}


.underline {
    text-decoration: underline;
}

.header-container h1 {
    display: inline-block;
    text-align: center;
    transform: skew(-20deg);
    text-align: center;
}


.header-container h2 {
    text-align: center;
    display: block;

}

.background-img {}

