.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.15vw;

    padding: 6vw 0;
    position: relative;

    /* height: 50vh; */

    letter-spacing: 0.26vw;

    color: #ccc;

    background-color: lightsalmon;
}

.underline {
    text-decoration: underline;
}

.header-container h1 {
    font-size: 8rem;
    transform: skew(-20deg);
}


.header-container h3 {
    font-size: 6rem;
}

.background-img {}