.about__container {
    display: flex;
    /* justify-content: center;  */
    align-items: center;
    gap: 2rem;
    text-align: justify;
}

.about__container-img {
    overflow: hidden;
    position: relative;

    border-radius: 50%;

    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.75);
}

.about__container-img img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.about__container-text p {
    font-size: 1.6rem;
}

/* Media query */
/*Tablette*/
@media screen and (max-width:991px) {
    .about__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__container-img {
        margin: 1rem 0;
    }

    .about__container-img {
        width: 20rem;
    }
}
