.divider {
    width: 100%;
    height: 2px;

    border: none;

    background-color: black;
    position: relative;
    margin:6rem auto;
}

.divider::before {
    content: "";
    width: calc(100%/3);
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    background: linear-gradient(90deg, #eee 20%, rgba(0, 0, 0, 1) 100%);
    border: none;

}

.divider::after {
    content: "";
    width: calc(100%/3);
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(0, 0, 0);
   
    border: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, #eee 80%);
}