#contact {}

.contact-btn {
    display: flex;
    justify-content: center;
    gap: 5.7rem;
}

.contact-btn .button.mail,
.contact-btn .button.commentaire {
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--btn-shadow);
    background: transparent;
    cursor: pointer;
    transform: translateY(0);

    transition: var(--animation);
}

.contact-btn .button.mail:hover,
.contact-btn .button.commentaire:hover {
    transform: scale(1.05);
}


.contact-btn .button.mail:active,
.contact-btn .button.commentaire:active {
    transform: translateY(3px);
}


#commentaires .container {
    background-color: #777;
    color: #fff;
    border-radius: 1.5rem;
    margin: 2rem auto;
    padding: 5rem 8rem;
    max-width: 768px;
    position: relative
}

#commentaires .container .quote {
    fill: white;
    font-size: 2.8rem;
    position: absolute;
}

#commentaires .container .quote.left {
    top: 4rem;
    left: 4rem;
}

#commentaires .container .quote.right {
    top: 4rem;
    right: 4rem;
}

#commentaires .container .message {
    text-align: justify;
}

#commentaires .container .visiteur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

#commentaires .container .visiteur img {
    border-radius: 50%;
    width: 7.5rem;
    object-fit: cover;
}

#commentaires .container .detail-visiteur {
    margin-left: 1rem;
}

#commentaires .detail-visiteur h4 {
    font-size: 2rem;
    margin: 0;
}

#commentaires .detail-visiteur p {
    font-size: 1.5rem;
    margin: 1rem 0;
}


#commentaires .chevron {
    font-size: 3rem;
    position: absolute;
    top: 15rem;

    fill: rgba(0, 0, 0, .3);
    transform: scale(1);
    transition: fill .3s, transform .3s;
}

#commentaires .chevron:hover {
    fill: rgba(0, 0, 0, .9);
    transform: scale(1.05);

    cursor: pointer;
}

#commentaires .chevron.left {
    left: -3.9rem;
}

#commentaires .chevron.right {
    right: -3.9rem;
}

@media screen and (max-width:837px) {

    .contact-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .contact-btn .button.mail,
    .contact-btn .button.commentaire {
        margin-top: 2rem;
        padding: 1.5rem 2rem;
        border-radius: var(--border-radius);
        box-shadow: var(--btn-shadow);
        background: transparent;
        cursor: pointer;
        transform: translateY(0);

        transition: var(--animation);
    }


    #commentaires .container {
        background-color: #777;
        color: #fff;
        border-radius: 0 6rem;
        padding: 2rem;
        cursor: pointer;
    }

    #commentaires .container .visiteur {
        margin: 1.5rem auto;
    }

    #commentaires .container .quote {
        display: none;
    }

    #commentaires .chevron {
        display: none;
    }
}