.commentaires {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.commentaire {
    /* width: 385px;
    height: 13.15vw; */
    border: 1px solid #000000;
    padding: 1vw;
    border-radius: 13px;
}

.commentaire h3 {
    font-size: 1.31vw;
}

.commentaire .fonction {
    font-size: .95vw;
}

.commentaire .message {
    padding-top: 10px;
}

