#header {
    background-color: lightcoral;
    /* background-image: url("../../images/JS-prog.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background: #eee;
}

#main {
    width: 80%;
    margin: 0 auto;

}

#about {
    margin-top: 6rem;
}

#realisation {
    margin-top: 6rem;
}

#contact {
    margin-top: 6rem;
}

#footer {
    margin-top: 6rem;

    background-color: var(--orange);
    
}