#header {
    background-color: lightcoral;
    /* background-image: url("../../images/JS-prog.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

body{

}

#main {
    width: 80%;
    margin: 0 auto;
    font-size: 1.4rem;
}

#about {
    margin-top: 6rem;
}

#realisation {
    margin-top: 6rem;
}

#contact {
    margin-top: 6rem;
}

#footer {
    margin-top: 3rem;
    margin-bottom: 2rem;
}