#experiences .experience {
    margin-bottom: 2.63vw;
}

#experiences .experience .experience__header-container {
    border: 1px black solid;
    border-radius: 15px;
}

#experiences .experience .experience__header-container .expand-icon {
    width: 2rem;
    height: 2rem;
}

#experiences .experience .experience__header-container .expand-icon:hover {
cursor: pointer;
}

#experiences .experience .header {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 1vw;
    padding: 1rem;
}

#experiences .experience .informations {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.52vw;
    padding-right: 0.52vw;
    padding-left: 0.52vw;
    border-left: 2px solid black;
}


#experiences .experience .missions {
    /* width:90%; */
    text-align: justify;
    margin-left: 12rem;
}

#experiences .experience .description {
    text-align: justify;
    margin-bottom: 1.5rem;
}

#experiences .experience .list {
    text-align: justify;
    list-style: none;
}

#experiences .experience .list .list-item {
    display: flex;
    padding-left: 2rem;
    align-items: center;
}

#experiences .experience .list .list-item .puce {}