.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 35rem;

    border-radius: var(--border-radius);

    overflow: hidden;

    background: white;

    padding-bottom: 1rem;
    position:relative;

    margin-bottom: 2rem;

    box-shadow: var(--btn-shadow);
    -webkit-box-shadow: var(--btn-shadow);
    -moz-box-shadow: var(--btn-shadow);

    transform: scale(1);
    transition: var(--animation);
}

.card:hover{
    transform: scale(1.02);
}

.card .img-container img {
    width: 100%;
    display: block;
}

.card .card-text-content {
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.card .card-text-content h3 {
    font-size: 2.3rem;
    border-bottom: 2px solid black;
    padding: 1rem 0;
    text-align: center;
}

.card .card-text-content p {
    padding: 1rem 2rem;
    color: #777;
    font-size: 1.3rem;
    text-align: justify;
}

.card .card-text-content .tags {
    display: flex;
    gap: 1rem;
}

.card .card-text-content .tag {
    font-size: 1.3rem;
    padding-right: 0.9rem;
}

.card .link {
    background-color: transparent;
    border: 1px solid #777;
    /* font-size: 0.8vw; */
    font-weight: 600;
    font-size: 1.3rem;

    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);

    color: #777;

    transition: var(--animation)
}

.card .link:hover {
    background-color: var(--clr-grey);
    color: white;
}