.radio_groups{
display: flex;
align-items: center;
gap: 5rem;
}

.radio_group{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media screen and (max-width:669px){
.radio_groups{
    display: flex;
}
}