.radio-groups{
display: flex;
margin-left: 4rem;
margin-bottom: 1rem;
}

.radio-group{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 2rem;
}

.radio-group input[radio]{
    
}

@media screen and (max-width:768px){

}