.message {
    position: relative;
    display: flex;
    gap: 14rem;
}

.message label {
    display: block;
}

.message textarea {
    display: block;
    padding: 0.5rem 0;
    padding-left: 0.9rem;
    border-radius: 5px;
}

.message .decompte {
    font-size: 1.2rem;
    text-align: end;
}

@media screen and (max-width:669px){
    .message {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .message .decompte {
        font-size: 1.2rem;
        text-align: start;
    }

}